<footer id="footer" class="footer section_offset">
  <div class="container">
    made by
    <a href="https://github.com/makniahmed-31" target="_blank">Oleksandr makniahmed-31</a>
    & Vite Contributors
  </div>
</footer>
